/*
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see https://www.gnu.org/licenses/.
*/

@import "https://cdn.jsdelivr.net/gh/asciidoctor/asciidoctor@2.0/data/stylesheets/asciidoctor-default.css";

@font-face {
  font-family: "Crimson Pro";
  src: url("fonts/CrimsonPro-Italic.woff2") format("woff2 supports variations"),
    url("fonts/CrimsonPro-Italic.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Crimson Pro";
  src: url("fonts/CrimsonPro-Regular.woff2") format("woff2 supports variations"),
    url("fonts/CrimsonPro-Regular.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --crimson-pro-font-family: "Crimson Pro";
  --fdi-altmeister-b-font-family: "FDI Altmeister B";
  --alegreya-font-family: "Alegreya";
  --alegreya-sc-font-family: "Alegreya SC";

  --display-font-family: var(--crimson-pro-font-family);
  --heading-font-family: var(--crimson-pro-font-family);
  --heading-secondary-font-family: var(--crimson-pro-font-family);
  --primary-font-family: var(--crimson-pro-font-family);
  --term-font-family: var(--crimson-pro-font-family);
}

html {
  font-size: 100%;
  font-size: 18px;
}

.toc a {
  font-family: var(--primary-font-family);
}

html,
body {
  background-color: white;
  color: rgb(59 59 59);
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(59 59 59);
  font-family: var(--primary-font-family);
}

h1,
h2,
h3 {
  color: rgb(59 59 59);
  font-family: var(--heading-font-family);
}

h4,
h5,
h6,
.title,
#toctitle,
.sidebarblock .content .title,
.exampleblock .title,
.move .title,
.monster .title,
.openblock .title,
dt {
  color: inherit;
  font-family: var(--heading-secondary-font-family);
}

:is(
    .hdlist,
    .ulist,
    .olist,
    .monster > .content,
    .move > .content,
    .admonitionblock td.content
  )
  .title {
  color: rgb(59 59 59);
  font-family: var(--heading-secondary-font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 1.1rem;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  margin: 0;
}

table.tableblock > .title {
  color: white;
  font-family: var(--heading-secondary-font-family);
  font-style: normal;
  font-weight: bold;
  font-size: larger;
  text-decoration-thickness: 2px;
  padding: 0 0.25rem;
  background-color: rgb(59 59 59);
  margin: 0;
}

h1,
h2,
#subtitle p {
  font-family: var(--display-font-family);
  font-weight: 900;
  letter-spacing: 0;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3.5em;
}

h3 {
  font-size: 2.5em;
  font-weight: 700;
}

h4 {
  font-size: 1.8em;
}

h5 {
  font-size: 1.5em;
  font-weight: 500;
  font-style: italic;
}

a {
  font-weight: bold;
  color: inherit;
  font-family: var(--primary-font-family);
}

p {
  text-align: justify;
  margin-bottom: 0.5rem;
}

:is(h1, h2, h3, h4, h5, h6) a.anchor {
  font-family: inherit;
}

.move {
  margin: 1.5rem 0;
  border-bottom: 3px solid rgb(59 59 59);
  background-color: rgb(241 241 241);
}

.move,
.monster,
.sidebarblock,
.exampleblock {
  break-inside: avoid;
}

.move > .title,
.monster > .title {
  font-weight: bold;
  font-style: normal;
  font-size: x-large;
  background: rgb(59 59 59);
  color: white;
  padding: 0 0.5rem;
  margin: 0;
}

.move .content,
.monster .content {
  padding: 1rem 0 0;
}

.monster {
  border-width: 3px;
  border-style: solid;
  border-color: rgb(59 59 59);
  margin: 1rem 0;
}

.monster .content {
  padding: 0.5rem;
}

.move .content p,
.monster .content p {
  text-indent: -1rem;
  margin-inline-start: 1rem;
  margin-left: 1rem;
}

.move .content > * {
  padding: 0 0.5rem;
}

.move .content table {
  margin: 0;
}

.move .content table td {
  padding: 0.5rem;
}

.paragraph.lead > p {
  font-size: 1em;
  font-style: italic;
}

dd .paragraph.lead > p,
.hdlist2 > p {
  margin: 0;
  font-style: normal;
}

td.hdlist1 {
  padding-bottom: 0;
}

li p {
  margin: 0.25rem 0;
}

.term {
  font-family: var(--term-font-family);
  font-weight: 700;
  font-feature-settings: "smcp";
}

#footer {
  max-width: inherit;
  background: unset;
}

#footer-text {
  color: unset;
}

dd > .paragraph.lead > p {
  font-size: initial;
}

dd > .paragraph > p,
dl > dd,
dl > dd > p,
dl > dt {
  margin-bottom: 0.25rem;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

p,
blockquote,
dt,
td.content,
td.hdlist1,
span.alt,
summary {
  font-size: 1rem;
}

ul,
ol,
dl {
  line-height: 1;
}

li p {
  margin: 0;
}

td.hdlist1 {
  white-space: nowrap;
}

#subtitle p {
  font-size: 3rem;
  margin: 0;
  line-height: 1;
}

.admonitionblock td.icon [class^="fa icon-"],
.admonitionblock td.icon .icon-tip::before {
  text-shadow: none;
}

.ab-empty {
  opacity: 0.25;
}

@media print {
  :root {
    font-size: 80%;
  }
}
