@import "https://cdn.jsdelivr.net/gh/asciidoctor/asciidoctor@2.0/data/stylesheets/asciidoctor-default.css";

@font-face {
  font-display: swap;
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/alegreya-v35-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Alegreya";
  font-style: italic;
  font-weight: 400;
  src: url("fonts/alegreya-v35-latin-italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 500;
  src: url("fonts/alegreya-v35-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Alegreya";
  font-style: italic;
  font-weight: 500;
  src: url("fonts/alegreya-v35-latin-500italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 600;
  src: url("fonts/alegreya-v35-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Alegreya";
  font-style: italic;
  font-weight: 600;
  src: url("fonts/alegreya-v35-latin-600italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/alegreya-v35-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Alegreya";
  font-style: italic;
  font-weight: 700;
  src: url("fonts/alegreya-v35-latin-700italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 800;
  src: url("fonts/alegreya-v35-latin-800.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Alegreya";
  font-style: italic;
  font-weight: 800;
  src: url("fonts/alegreya-v35-latin-800italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 900;
  src: url("fonts/alegreya-v35-latin-900.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Alegreya";
  font-style: italic;
  font-weight: 900;
  src: url("fonts/alegreya-v35-latin-900italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Alegreya SC";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/alegreya-sc-v25-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Alegreya SC";
  font-style: italic;
  font-weight: 400;
  src: url("fonts/alegreya-sc-v25-latin-italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Alegreya SC";
  font-style: normal;
  font-weight: 500;
  src: url("fonts/alegreya-sc-v25-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Alegreya SC";
  font-style: italic;
  font-weight: 500;
  src: url("fonts/alegreya-sc-v25-latin-500italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Alegreya SC";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/alegreya-sc-v25-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Alegreya SC";
  font-style: italic;
  font-weight: 700;
  src: url("fonts/alegreya-sc-v25-latin-700italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Alegreya SC";
  font-style: normal;
  font-weight: 800;
  src: url("fonts/alegreya-sc-v25-latin-800.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Alegreya SC";
  font-style: italic;
  font-weight: 800;
  src: url("fonts/alegreya-sc-v25-latin-800italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Alegreya SC";
  font-style: normal;
  font-weight: 900;
  src: url("fonts/alegreya-sc-v25-latin-900.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Alegreya SC";
  font-style: italic;
  font-weight: 900;
  src: url("fonts/alegreya-sc-v25-latin-900italic.woff2") format("woff2");
}

:root {
  --alegreya-font-family: "Alegreya";
  --alegreya-sc-font-family: "Alegreya SC";
  --alegreya-sans-font-family: "Alegreya Sans";
  --alegreya-sans-sc-font-family: "Alegreya Sans SC";
  --heading-font-family: var(--alegreya-sc-font-family);
  --primary-font-family: var(--alegreya-font-family);
  --term-font-family: var(--alegreya-sc-font-family);
}

.toc a {
  font-family: var(--primary-font-family);
}

html,
body {
  background-color: white;
  color: black;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-family: var(--primary-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6,
.title,
#toctitle,
.sidebarblock .content .title,
.exampleblock .title,
.action .title,
dt {
  color: inherit;
  font-family: var(--heading-font-family);
}

a {
  font-weight: bold;
  color: inherit;
  font-family: var(--primary-font-family);
}

.action {
  margin: 1.5rem 0;
  border-bottom: 3px solid black;
  background-color: #f6f6f6;
}

.action .title {
  font-weight: bold;
  font-style: normal;
  font-size: x-large;
  background: black;
  color: white;
  padding: 0 0.25rem;
}

.action .content {
  padding: 0.25rem;
}

.lead {
  font-style: italic;
}

dd .paragraph.lead > p {
  margin: 0;
  font-style: normal;
}

li p {
  margin: 0.25rem 0;
}

ul li:has(p) {
  list-style-type: "◤ ";
}

.term {
  font-family: var(--term-font-family);
  font-weight: 500;
}

#footer {
  max-width: inherit;
  background: unset;
}

#footer-text {
  color: unset;
}

dd > .paragraph.lead > p {
  font-size: initial;
  /* font-style: italic; */
}

dd > .paragraph > p {
  margin: 0;
}

#header h1 {
  font-weight: 600;
}
